# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Reports
reports/*.pdf
reports/*.html
reports/*.json

# Database
*.db